@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: rgb(59, 64, 69);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-so-black-25: #d5d8db;
  --color-alt-bg: rgb(241, 242, 243);
  --color-button-bg: rgb(27, 117, 208);
  --spacing-content-width: 79rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    -apple-system, "system-ui", "Segoe UI Adjusted", "Segoe UI",
    "Liberation Sans", sans-serif;
}

.markdown a {
  @apply text-blue-600 hover:text-blue-800 underline;
}